  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@500&display=swap');

body {
    margin: 0;
    background-color: #72d988;
    height: 100%;
    font-family: "Nunito", sans-serif;
    font-size: 1.2rem;
    font-weight:bolder;

}

.active {
    background-color: #cff7cf;
}

.loading-container{
    position:   fixed;
    z-index:    1;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 1 ) 
                url('../icons/loading.svg') 
                50% 50% 
                no-repeat;
}

.nav-bar ul {
    font-family: "Nunito";
    display: flex;
    align-items: center;
    list-style-type: none;

    margin: 0;
    padding: 0;
    background-color: #ffffff;
    height: 20%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.nav-bar img{
    max-width: 8rem;
    margin-right: 1.2rem;
    margin-left: 1.2rem;
}

.nav-bar li {
    display: flex;
    align-items: center;
    height: 100%;
    padding-right: 2%;
    padding-left: 2%;
    transition: all 0.3s ease;
    cursor:pointer;
}

.nav-bar li a {
    display: flex;
    align-items: center;
    height: 100%;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#greater-than {
    max-width: 1rem;
    transition: all 0.3s ease;
}

.dropdown:hover #greater-than {
    transform: rotate(90deg);
}

.dropdown .dropdown-menu a{
    transition: all 0.3s ease;
}

.dropdown .dropdown-menu a:hover  {
    background-color: #cff7cf;
}

/* Change the link and hover colors */
.nav-bar li:hover {
    background-color: #cff7cf;
}



.dropdown {
    position: relative;

}

.dropdown-menu {
    display: none;
    text-align: center;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 100%;
    left: 0;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu ul li{
    padding-right: 5%;
}


.dropdown-menu ul {
    display: block;
    padding: 0;
    margin: 0;
}

.dropdown-menu ul li {
    display: block; 
    padding: 5px 0;
}

.user{
    margin-left: auto;
    margin-right:5%;
    max-width:30%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

 #user{
    margin:0 auto;
    max-width: 2.8rem;
}

.user{
    cursor: pointer;
}

.user p{
    margin:0 auto;
    cursor:pointer;
}

.user:hover #user-text{
    color:#44ff44;
}

.user:hover #user{
    filter:brightness(0.5); 
}

.container{
    text-align: center;
    max-width: 50%;
    margin:auto;
    font-family: 'Kumbh Sans';
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.goals{
    width:100%;
    background-color: #5ce1e6;
    border-radius: 40px;
    border: 5px solid white;
}

.container #container-title{
    font-weight: bold;
}

.container .calorie-goal{
    display: flex;
    text-align: center;
    justify-content: center;

}
  
.container .balance{
    display: flex;
    justify-content: center;
}

#calorie-data{
    color:red;
}

#balance-data{
    color:red;
}

#random-quote{
    font-weight: 100;
}
/*DIARY OAGE STYLING--------------------*/

.info{
    margin-left: 5%;
    margin-right: 5%;
}

.current-date{
    display:flex;
}

.food-table{
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    background-color: #e2e2e2;
    margin-top: 2%;
    display: flex;
    text-align: center;
    width:45%;
    justify-content: center;
    align-items: top;
}

.food-header{
    background-color: #04cc76;
    width:100%;
    display: flex;
    max-height: 60%;
    border-radius:30px;
    justify-content: center;
    align-items: center;
}


.excercise-table{
    background-color: #e2e2e2;
    margin-top: 2%;
    display: flex;
    text-align: center;
    width:45%;
    justify-content: center;
    align-items: top;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.excercise-header{
    background-color: #06aa95;
    width:100%;
    display: flex;
    max-height: 60%;
    border-radius:30px;
    justify-content: center;
    align-items: center;
}

.excercise-food-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

#food-icon{
    max-width:1.2rem;
}

#excercise-icon{
    max-width:1.2rem;
}

.mental-table{
    background-color: #e2e2e2;
    margin-top: 3%;
    display: flex;
    text-align: center;
    width:45%;
    justify-content: center;
    align-items: top;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.mental-header{
    background-color: #3c92fa;
    width:100%;
    display: flex;
    max-height: 60%;
    border-radius:30px;
    justify-content: center;
    align-items: center;
}

.mental-container{
    display: flex;
    justify-content:center;
}

#mental-icon{
    max-width:1.2rem;
}


/*This is the stylesheet for the newsfeed*/

#article-container{
    display: flex;
    justify-content: center;
    align-content: center;
    padding:20px;
}
.articleDiv {
    flex: 1 0 25%;
    margin: 10px;
    background-color: rgb(185 227 198);
    padding: 10px;
    border-radius: 6px;
    cursor:pointer;
    max-width:300px;
    max-height:550px;

}

.article-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articleDiv:hover{
    background-color: rgb(123, 255, 0);
    transform: scale(1.1);
    transition: transform 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.articleImg{
    max-width:100%;
    height: auto;
}


/*For feedback page*/

.addition-container{
    display:flex;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
    height: 60%;
}

.star-row{
    display: flex;
    margin-top: 5%;
    justify-content: center;
    flex-direction: row;
}

.face{
    font-size: 2rem;
    margin-top: 10%;
}

.feedback-container{
    display:flex;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-bottom:2%;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 10px;
    flex-direction: column;
    text-align: start;
    padding-left:20px;
    padding-right:20px;
    padding-top:20px;
    height: 60%;
}

#thoughts{
    font-family: 'Nunito'; /* Set the desired font-family */
    resize: none; /* Make the textarea non-expandable */
    height: 150px;
    width:100%; /* Set a suitable height */
}

#submit{
    display: inline-block;
    max-width: 200px;
    margin-top: 2%;
    background-color: #44ff44;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#submit:hover{
    background-color: #72d988;
}

/*END FOR FEEDBACK PAGE--------------------------------------------------------------------------------------*/

/*For LOGIN page*/

.login-container {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 20%;
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.login-container h2 {
    margin-top: 0;
    color: #333333;
}

.login-container  .form-group {
    margin-bottom: 15px;
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333333;
}

.login-container  input[type="text"],input[type="password"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}

.login-container button {
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #45a049;
}

.login-container button:active {
    background-color: #3e8e41;
}

/*END FOR LOGIN PAGE---------------------------------------------------------------------------------------*/

/*------------------PROGRESS PAGE STYLING-----------------------*/
.progress-container {
    display: flex;
    flex-direction: row; /* Updated */
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;
    height: 70%;
    padding: 10px;
}

.progress-container #personsolid {
    max-width: 100px;
}

.progress-container .goal-calorie {

}



.goal-calorie {
    text-align: start   ;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around   ; /* Align items to start */
}
.calorie-bar {
    background-color: #72d988;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
  
.bar {
    height: 100%;
    background-color: #d97272;
}

.vertical-line{
    width: 2px;
    background-color: #b1b1b1;
    opacity: 55%;
    height: 100%;
    border-radius: 10px;
}

.progress-container a {
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease-in 0.1s;
    width:30%;
    
}

.progress-container a:hover{
    background-color: #38803a;
}

#update-text{
    margin-top: 10%;
    text-align: center;
}

.weightandheight-container{
    display: flex;
    flex-direction: column; /* Updated */
    align-items: center;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    border-radius: 10px;
    text-align: center;
    height: 70%;
    padding: 10px;
}

.weightandheight-container input{
  border: none;
  outline: none;
  padding: 5px;
  border-bottom: 1px solid #898989;
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-size: 20px;
  font-weight:bolder;
  font-family: "Nunito", sans-serif;
}

#confirm-weightandheight{
    text-decoration: none;
    background-color: #4CAF50;
    border: none;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    transition: ease-in 0.1s;
    width:30%;
}

#confirm-weightandheight:hover{
    background-color: #38803a;
}

/*THIS IS THE END FOR PROGRESS PAGE-----------------------------------------*/

/*RECOMMENDED PAGE STYLSHEET----------------------------------------------*/

.recommended-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.plans{
    margin-top: 5%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.column{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.open-poppup{
    max-width: fit-content;
    max-height: fit-content;
}

.column:hover .open-poppup img,
.column:hover .open-poppup h3 {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}


.excercise-dialog{
    width:80%;
}

.food-dialog{
    width:80%;
}

.mental-dialog{
    width:80%;
}

/*------ENd of recommended page*/

/*------start of register page------*/

.reg-container{
    display:flex;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-top: 1%;
    background-color: white;
    margin-bottom:5%;
    margin-left:5%;
    margin-right:5%;
    margin-top:2%;
    max-width:100%;
    border-radius: 13px;
    font-family: sans-serif;
}

.formreg input:focus {
    outline: none;
  }
  

.logo{
    display: flex;
    align-content: center;
    width: 60%;
    
}

.reg-container img{
    margin-right: 3%;
}

#vertical{
    background-color: #0000001f;
    width:2px;
    height: 100%;
}

.formreg{
    text-align: center;
    width:100%;
    padding-left: 5%;
}

.formreg input[type="text"],
.formreg input[type="password"] {
  width: 100%;
  border-style: none;
  border-bottom: 3px solid black;
  height: 60px;
  margin-bottom: 10px;
  box-sizing: border-box; /* Add this line to include border and padding in the width calculation */
  font-size: 30px;
  text-align: center;
}


  
.radioRow{
    display: flex;
}

.row1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
.row1 .radioRow {
    display: flex;
    align-items: center;
}

  
.row1 .radioRow input[type="radio"] {
    accent-color: green;
    margin-left: 5px; /* Adjust the spacing between the tick box and the label as needed */
}

.reg-container button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .reg-container button:hover {
    background-color: #45a049;
  }
  






  

